// $theme-colors: (
//   "primary":  #fd7e14,
//   "secondary": #495057,
//   "success": #188754,
//   "info": #495057,
//   "warning": #fd7e14,
//   "danger": #b02a37,
//   "light": #e6e6e6,
//   "dark": #1b1e23,
//   "white": #fff,
//   "black": #000,
// );

// $primary: #fd7e14;
//
// $enable-rounded: false;
// $spacer: 0.75rem;
// $border-radius: 0rem;
// $box-shadow-sm: 0;

@import "~bootstrap/scss/bootstrap.scss";

.bg-light-darker {
  background-color: $gray-200
}

.dropzone {
  min-height: 10px;
  transition: min-height 0.2s ease;
  &.dropzone-highlight {
    // background-color: $blue-100;
    &.dropzone-hover {
      min-height: 50px;
      // background-color: $blue-400;
    }
  }
}

matestack-component-template {
  height: inherit
}

.matestack-async-component-container {
  height: inherit;
  .matestack-async-component-wrapper {
    height: inherit;
    .matestack-async-component-root{
      height: inherit;
    }
  }
}
// matestack-component-template * {
//   min-height:inherit
// }
